@page
@model ActivateAccountModel
@{
    ViewData["Title"] = "Activate Account";
}
<div class="text-center">
    <!-- Home Page -->
    <section class="py-5 text-center">
        <div class="container">
            <h2>Activate Account!</h2>
            <strong>@Model.Message</strong>
        </div>
    </section>
</div>