@page
@model CLIMFinders.Web.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}
<div class="container rounded bg-white mt-5 mb-5">


    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"></div>
        </div>
        <div class="col-md-4 border-right">
            <form method="post">
                <div class="p-3 py-5">
                    <h4 class="text-right">Change Password</h4>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <input type="password" class="form-control" asp-for="Input.OldPassword" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input type="password" class="form-control" asp-for="Input.NewPassword" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input class="form-control" asp-for="Input.ConfirmPassword" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary profile-button" type="submit">Change Passsword</button>
                    </div>

                </div>
            </form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        </div>
    </div>

</div>
