@page
@model SubscriptionCancelModel
@{
    ViewData["Title"] = "Subscription Cancelled";
}

<div class="text-center">
    <!-- Home Page -->
    <section class="py-5 text-center">
        <div class="container">
            <h2>Subscription Cancelled</h2>
            <p>Your subscription process was canceled.</p>
            <a href="/Register">Try Again</a>
        </div>
    </section>
</div>
