@page
@model TestModel
@{
    ViewData["Title"] = "Test page";
}

<div class="text-center">
    <!-- Home Page -->
    <section class="py-5 text-center">
        <div class="container">
            <h1>Test Email</h1>         
        </div>
    </section>   
</div>
